[general]
out_path = data


[vector_store]
vector_store = faiss
embedding = openai
local_vector_store = /mnt/e/Personal/Samarth/repository/DMAC_ChatGPT/data/Processed_data/faiss_damac_audio_data


[audio]
whisper_model = small
translate = en
device = cuda

[record]
file_path = /mnt/e/Personal/Samarth/repository/DMAC_ChatGPT/data/Data_Mortgage.xlsx
out_path = /mnt/e/Personal/Samarth/repository/DMAC_ChatGPT/data/Processed_data/audio_data2.json
audio_path_index = Ameyo Recording URL

[text]
chunk_size = 500
overlap = 0
